<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      .table th, .table td {
        border-top: none !important;
        border-left: none !important;
      }
    </style>
</head>

<body style="background-image: url('piso 2.webp')">
  <div id="app" >
    <div class="row p-1 m-2 w-100" >
      <input class="form-control col-sm-2" type="text" v-model="columnas" placeholder="Columnas">
      <input class="form-control col-sm-2" type="text" v-model="filas" placeholder="Filas">
      <button @click="crear_piso" class="btn btn-dark mr-3"> Crear piso</button>
      <input class="form-control col-sm-2 " type="text" v-model="suciedades" placeholder="Suciedades">
      <button @click="ensuciar_piso()" class="btn btn-warning mr-5" id="btn_ensuciar">Ensuciar piso</button>
      <div class="col-sm-4 row">
        <label for=""><b>Inicio: </b></label> 
        <select class="form-control col-sm-3" v-model="inicio.y">
          <option v-for="f in filas" >
            {{f-1}}
          </option>
        </select>
        <select class="form-control col-sm-3" v-model="inicio.columna">
          <option v-for="c in columnas"  >
            {{c-1}}
          </option>
        </select>
      </div>
      <br>
    </div>
    <div class="row p-1 m-2 w-100">
      <div class="col-sm-12">
        <button @click="limpiar_piso" class="btn btn-info">Limpiar piso</button>
        <button @click="encender_aspiradora" :disabled="aspiradora.encendida" class="btn btn-success">Encender aspiradora</button>
        <button @click="apagar_aspiradora" :disabled="!aspiradora.encendida" class="btn btn-danger">Apagar aspiradora</button>
      </div>
      <div class="col-sm-12">
        <br> Baldosas: {{filas*columnas}}
        <br>Baldosas limpias : {{baldosas_limpias.length}} 
      </div>
    </div>
    <div class="row  p-1 ml-2 w-100">      
      <div class="col-sm-12 " >
        <table class="table border">
          <tr v-for="(fila,fila_id) in baldosas" height="100px">
            <td v-for="(col, col_id) in fila.columnas" class="m-0" >
              <!--Baldosas -->
              <img v-if="fila_id == aspiradora.y && col_id == aspiradora.x" :src="aspiradora.direccion+'.png'" class="img-fluid"
                style="width:100px;;position: absolute; z-index: 100;">
              <img v-if="col.suciedad" :src="suciedad_random(col)" class="img-fluid"
                style="width:50px;height: 44;position: absolute;">
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>






<script>
  var app = new Vue({
    el: '#app',
    data: {
      filas: 7,
      columnas: 7,
      suciedades: 6,
      baldosas: [
      ],
      inicio:{
        x: 0,
        y: 0,
        intervalo:null,
      },
      aspiradora: {
        x: 0,
        y: 0,
        direccion: 'derecha',
        encendida: false,
        intervalo: null,
        cant_movimientos: 0,
      },
      direcciones:["arriba","derecha","abajo","izquierda"],
      baldosas_limpias: [],
      
      modo_esquina:{
        ultima: 0,
        lados: false,
        intervalo: null,
        direccion: null
      },
    },
    
    methods: {
      crear_piso: function () {
        var app = this;
        app.baldosas = [];
        for (y = 0; y < app.filas; y++) {
          let fila = { columnas: [] };
          for (let x = 0; x < app.columnas; x++) {
            let columna = {id: y == 0 && x == 0 ? 0 : y * (app.columnas) + x, suciedad: false }
            fila.columnas.push(columna);
          }
          app.baldosas.push(fila);
        }
      },
      limpiar_piso: function () {
        var app = this;
        app.baldosas_limpias = [];
        app.baldosas.forEach(y => {
          y.columnas.forEach(x => {
            x.suciedad = false;
          });
        });
      },
      ensuciar_piso: function () {
        var app = this;
        app.limpiar_piso();
        x =   app.suciedades < app.filas * app.columnas ? app.suciedades:  app.filas * app.columnas;
        for (let i = 0; i < x ; i++) {
          let rand;
          let mod;
          do{
            rand = Math.floor(Math.random() * (app.filas * app.columnas));
            mod = rand % app.columnas; 
          }while(app.baldosas[Math.floor(rand / app.columnas)].columnas[mod].suciedad);
          app.baldosas[Math.floor(rand / app.columnas)].columnas[mod].suciedad = true;
        }
        $("#btn_ensuciar").attr('disabled',true);
        setTimeout(() => $("#btn_ensuciar").attr('disabled',false),555);
      },
      encender_aspiradora: function () {
        var app = this;
        app.aspiradora.encendida = true;
        clearInterval(app.aspiradora.intervalo);
        app.aspiradora.intervalo = setInterval(function(){app.mover_aspiradora();}, 222);
      },
      apagar_aspiradora:function(){
        var app = this;
        app.aspiradora.encendida = false;
        clearInterval(app.aspiradora.intervalo);
        app.aspiradora.intervalo = null;
        app.inicio.intervalo = setInterval(function(){app.volver_inicio();}, 222);
      },
      volver_inicio: function(){
        var app = this;
        var aspi = app.aspiradora;
        let baldosa = app.baldosas[aspi.y].columnas[aspi.x];
        if(aspi.y == app.inicio.y){
          if(aspi.x == app.inicio.x){
            clearInterval(app.inicio.intervalo);
            app.inicio.intervalo = null;
          }else if(aspi.x < app.inicio.x){
            aspi.direccion = "derecha";
            aspi.x++;
          }else{
            aspi.direccion = "izquierda";
            aspi.x--;
          }
        }else{
          if(aspi.y < app.inicio.y){
            aspi.direccion = "abajo";
            aspi.y++;
          }else{
            aspi.direccion = "arriba";
            aspi.y--;
          }        
        }
      },
      mover_aspiradora: function () {
        var app = this;
        var aspi = app.aspiradora;
        let baldosa = app.baldosas[aspi.y].columnas[aspi.x];
        
        if(!app.baldosas_limpias.find(b => b.id == baldosa.id)){
          app.baldosas_limpias.push(baldosa);
          if(!baldosa.suciedad){
            aspi.cant_movimientos++;
          }
        }else{
          if(app.modo_esquina.intervalo ==  null) aspi.cant_movimientos++;
          if(!baldosa.suciedad){
            if(aspi.cant_movimientos > 10){ //Penalización        
              clearInterval(app.aspiradora.intervalo);
              app.aspiradora.intervalo = null;
              aspi.cant_movimientos = 0;
              app.modo_esquina.direccion = aspi.direccion;
              app.modo_esquina.intervalo = setInterval(function(){app.rotar_esquinas()}, 222);
              app.modo_esquina.ultima = (app.modo_esquina.ultima+1) % 4;
            } 
          }else{
            aspi.cant_movimientos = 0;// Reinicio de penalización
           } 
        }
        baldosa.suciedad = false;
        if(app.baldosas_limpias.length == app.filas*app.columnas){
          app.apagar_aspiradora();
        }else{
          aspi.direccion = app.activar_sensores(aspi.direccion);
          switch (aspi.direccion) {
            case "arriba": 
              if (aspi.y > 0) {
                aspi.y--;
              } 
            break;
            case "derecha":
              if (aspi.x < app.columnas -1) {
                aspi.x++;
              }
            break;
            case "abajo":
              if (aspi.y < app.filas - 1) {
                aspi.y++;
              }
            break;
            case "izquierda":
              if (aspi.x > 0) {
                aspi.x--;
              }
            break;
          }
        }       
      },
      rotar_esquinas: function(){
        var app = this;
        if(!app.modo_esquina.lados){
          app.esquina();
        }else{
          app.modo_esquina.lados = false;
          app.modo_esquina.intervalo = null;
          app.aspiradora.intervalo = setInterval(function(){app.mover_aspiradora()}, 222);
        }
       
      },
      esquina: function(){
        var app = this;
        var aspi = app.aspiradora;
        if(!aspi.encendida) app.modo_esquina.ultima = 0;
        var aspi = app.aspiradora;
        switch (app.modo_esquina.ultima) {
          case 0://Arriba Izquierda
            if (aspi.y == 0 && aspi.x == 0) {
              app.modo_esquina.lados = true;
            }else{
              let dir_aspi = ((app.modo_esquina.direccion == "arriba" && aspi.y > 0) || aspi.x == 0) ? "arriba" : "izquierda";
              if(dir_aspi == "arriba"){
                aspi.y--; 
                aspi.direccion = "arriba";
                app.modo_esquina.direccion = "izquierda";
              }else{
                aspi.x--;
                aspi.direccion = "izquierda";
                app.modo_esquina.direccion = "arriba";
              }
            }
            break;
          case 1://Arriba Derecha
            if (aspi.y == 0 && aspi.x == app.columnas-1) {
              app.modo_esquina.lados = true;
            }else{
              let dir_aspi = ((app.modo_esquina.direccion == "arriba" && aspi.y > 0) || aspi.x == app.columnas-1) ? "arriba" : "derecha";
              if(dir_aspi == "arriba"){
                aspi.y--; 
                aspi.direccion = "arriba";
                app.modo_esquina.direccion = "derecha";
              }else{
                aspi.x++;
                aspi.direccion = "derecha";
                app.modo_esquina.direccion = "arriba";
              }
            }
            break;
          case 2://Abajo Derecha
            if (aspi.y == app.filas-1 && aspi.x == app.columnas-1) {
              app.modo_esquina.lados = true;
            }else{
              let dir_aspi = ((app.modo_esquina.direccion == "abajo" && aspi.y < app.filas-1)|| aspi.x == app.columnas-1) ? "abajo" : "derecha";
              if(dir_aspi == "abajo"){
                aspi.y++; 
                aspi.direccion = "abajo";
                app.modo_esquina.direccion = "derecha";
              }else{
                aspi.x++;
                aspi.direccion = "derecha";
                app.modo_esquina.direccion = "abajo";
              }
            }
            break;
          case 3://Abajo Izquierda
          if (aspi.y == app.filas-1 && aspi.x == 0) {
              app.modo_esquina.lados = true;
            }else{
              let dir_aspi = ((app.modo_esquina.direccion == "abajo" && aspi.y < app.filas-1)|| aspi.x == 0) ? "abajo" : "izquierda";
              if(dir_aspi == "abajo"){
                aspi.y++; 
                aspi.direccion = "abajo";
                app.modo_esquina.direccion = "izquierda";
              }else{
                aspi.x--;
                aspi.direccion = "izquierda";
                app.modo_esquina.direccion = "abajo";
              }
            }
            break;
        }
        if(!aspi.encendida && app.modo_esquina.lados){
          clearInterval(app.aspiradora.intervalo);
          app.aspiradora.intervalo = null;
          clearInterval(app.modo_esquina.intervalo);
          app.modo_esquina.intervalo = null;
        }
      },
      activar_sensores: function (direccion) {
        var app = this;
        var aspi = app.aspiradora;
        var nueva_direccion = direccion;
        var basura = false;
        if (app.baldosas[aspi.y - 1]) {
          if (app.baldosas[aspi.y - 1].columnas[aspi.x].suciedad) {
            nueva_direccion = "arriba";
            basura = true;
          }
        }
        if (app.baldosas[aspi.y].columnas[aspi.x+1]) {
          if (app.baldosas[aspi.y].columnas[aspi.x+1].suciedad) {
            nueva_direccion = "derecha";
            basura = true;
          }
        }
        
        if (app.baldosas[aspi.y+1]) {
          if (app.baldosas[aspi.y+1].columnas[aspi.x].suciedad) {
            nueva_direccion = "abajo";
            basura = true;
          }
        }
        if (app.baldosas[aspi.y].columnas[aspi.x-1]) {
          if (app.baldosas[aspi.y].columnas[aspi.x-1].suciedad) {
            nueva_direccion = "izquierda";
            basura = true;
          }
        }
        while(!basura && direccion == nueva_direccion ){
          nueva_direccion = app.direcciones[Math.floor(Math.random() * app.direcciones.length)];
        }
        return nueva_direccion;
      },
      suciedad_random: function(x){
        let rand = (Math.floor(parseInt(x.id)*2) % 5) ;
        return `suciedad${rand}.png`;
      },
    },
    computed:{
      casos: function(){
        var app = this;
        var casos = [];
        for (let y_aspi = 0; y_aspi < app.filas; y_aspi++) {
          for (let x_aspi = 0; x_aspi < app.columnas; x_aspi++) {
            let casos_suciedad = Math.pow(2,app.filas*app.columnas);
            for (c_s = 0; c_s < casos_suciedad; c_s++) {
              let C = Array();
              C.Ax = x_aspi;
              C.Ay = y_aspi;

              bits = (casos_suciedad-1).toString(2).length;
              C.baldosas = Array();
              for (let b = 0; b < bits; b++) {
                let x = b % app.columnas;    
                let y = Math.floor(b / app.columnas);
                C.baldosas.push(
                {
                  "id": y == 0 && x == 0 ? 0 : y * (app.columnas) + x ,
                  "suciedad": ((c_s >> b) & 1) == '1'
                });               
              }
              casos.push(C);
            }
          }   
        }  
        return casos;
      }
    }
  });
  $(document).ready(function () {
    app.crear_piso();
    setTimeout(() => app.ensuciar_piso(), 555);
  })

</script>

</html>